<p>Hello again, <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password on Logsty. We hope this was you and not some evil minion of a lich somewhere! If it was you, please click the link below and you'll be taken to Logsty to change your password. If it wasn't, we're really sorry about that, and you're free to ignore this email.</p>

Thank you,<br />
Logsty.<br />

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
